<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*" type="LocalDocs.Web.MarkdownHttpHandler" />
    </httpHandlers>
    <compilation>
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="MarkdownFilesRootFolder" value="bin/MarkdownTestFiles/" />
  </appSettings>
</configuration>