<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="TargetSites" type="LocalDocs.Web.Config.TargetSitesConfigSection" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*" type="LocalDocs.Web.LocalDocsHttpHandler" />
    </httpHandlers>
    <compilation>
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
  </system.web>
  <TargetSites>
    <add id="defaultlayout" name="Default layout" root="MarkdownTestFiles_DefaultLayout/" isdefault="true" />
    <add id="customlayout" name="Custom layout" root="MarkdownTestFiles_CustomLayout/" />
  </TargetSites>
</configuration>